h1 FCC - API Basejump - URL Shortener
blockquote
h3 Example Usage
code https://little-url.herokuapp.com/new/https://www.google.com
br
code https://little-url.herokuapp.com/new/http://foo.com:80
h3 Example Output
code { "original_url":"http://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }
h3 Usage:
code https://little-url.herokuapp.com/2871
br
p will redirect to
br
code https://www.google.com/